.paging_container button {
    width: 4.4vw;
    margin-right: 4px;
    height: 2.3vh;
    border-radius: 5px;
    border: none;
    background-color: rgba(9, 9, 29, 0.535);
    color: rgba(249, 248, 248, 0.862);
    font-weight: 300;
    font-size: 0.9em;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}