.searchBar_container input {
    width: 20vw;
    height: 3.5vh;
    border: none;
    background-color: rgb(6, 6, 26);
    margin-right: 8px;
    border-radius: 3px;
    color: rgba(249, 248, 248, 0.862);
}

.searchBar_container button {
    width: 3.3vw;
    height: 3.3vh;
    background-color: rgb(6, 6, 26);
    border: none;
    color: rgba(249, 248, 248, 0.862);
    font-weight: 700;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

